.techstack {
  padding-top: 4rem;

  @media (min-width: $md) {
    padding-top: 7rem;
    margin: 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro"
      "images";

    @media (min-width: $lg) {
      column-gap: 5rem;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "images intro";
    }
  }

  &__intro {
    grid-area: intro;
  }

  &__title {
    font-family: $BebasNeue;
    letter-spacing: 1px;
    color: $lapisBlue;
    font-size: 2.5rem;

    @media (min-width: $lg) {
      text-align: left;
      font-size: 3rem;
    }
  }

  &__description {
    font-family: $Manrope;
    color: $stormGrey;
    line-height: 1.5;
    padding-top: 0.5rem;

    @media (min-width: $lg) {
      text-align: left;
    }
  }

  &__icon {
    width: 15%;
    object-fit: contain;

    @media (min-width: ($xsm + 100)) {
      width: 10%;
    }

    @media (min-width: $sm) {
      width: 8%;
    }

    @media (min-width: $md) {
      width: 7%;
    }

    @media (min-width: $lg) {
      width: 10%;
    }
  }

  &__images {
    grid-area: images;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    @media (min-width: $lg) {
      gap: 2rem;
      margin: 0;
      justify-content: flex-start;
    }
  }
}
