@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap");

@import "./partials/variables";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;

  @media (min-width: $lg) {
    width: 80%;
  }
}

a {
  text-decoration: none;
  color: $white;
}

ul {
  list-style-type: none;
}

// Mixins
@import "./mixins/button";

// Partials
@import "./partials/hero";
@import "./partials/navbar";
@import "./partials/footer";
@import "./partials/contact";
@import "./partials/projects";
@import "./partials/techstack";
@import "./partials/experiences";
